* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black; 
}

.header{
   height: 15vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #9a8478;
}

.logo {
    height: 100%;
}

.list-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.li.active{
    background-color: #9a8478;
    padding: 3px;
    text-decoration: none;
    transition: all .5s;
    margin-left: 15px;
    border-radius: 8px;
  }
  
.li:focus, li:hover, li:active{
    background-color: #9a8478;
    padding: 3px;
    text-decoration: none;
    transition: all .5s;
    margin-left: 15px;
    border-radius: 8px;
  }

.a-nav {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    color: white;
}

.section-inicio {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    background-image: url(./Fondo\ de\ comida.png);
    background-size: cover;

}

.container-inicio {
    width: 70%;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5em;
}

.titulo {
    font-family: 'Questrial';
    font-size: 3.5em;
    color: white;

}

.descripcion {
    font-family: 'Questrial';
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#boton{
    width: 12%;
    height: 40px;
    background-color: beige;
    font-family:'Mukta', cursive;
    color: black;
    font-size: 1.0em;
    font-weight: 700;
    border-radius: 12px;
    border-style: none;
    margin-top: 30px; 
    justify-content: center;
    margin-right: 20px;
    min-width: 120px;
}

#boton:hover { 
    background: #9a8478; 
    color: white; 
  } 
  
#boton:active { 
    background: gray; 
    color: white; 
  } 

#boton2{
    width: 12%;
    height: 40px;
    background-color: beige;
    font-family:'Mukta', cursive;
    color: black;
    font-size: 1.0em;
    font-weight: 700;
    border-radius: 12px;
    border-style: none;
    margin-top: 30px; 
    justify-content: center;
    min-width: 120px;
}

#boton2:hover { 
    background: #9a8478; 
    color: white; 
  } 
  
#boton2:active { 
    background: #9a8478; 
    color: white; 
  } 

body {
    height: 400px;
    background-size: cover; 
}

.sectioninfo {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 60vh

}

.texto {
    font-family: 'Questrial';
}

.container-sectioninfo {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-overlay-color);
}

.titulo-section-info {
    font-family: 'Questrial';
    font-size: 1.8em;
    padding-top: 10px;
}

.parrafo-section-info {
    font-family: 'Questrial';
    font-size: 1.1em;
}

.parrafo-familia {
    margin-top: 20px;
    font-family: 'Questrial';
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.parrafo-amigos {
    margin-top: 20px;
    font-family:'Questrial';
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.parrafo-pareja {
    margin-top: 20px;
    font-family: 'Questrial';
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}


.conteiner-elementos {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.comida-amigos {
    width: 300px;
    height: 300px;
    border-radius: 1.0em;
    transition: 0.2s;

}

.comida-amigos:hover {
    transform: scale(1.1);
  }

.comida-familia {
    width: 300px;
    height: 300px;
    border-radius: 1.0em;
    transition: 0.2s;

}

.comida-familia:hover {
    transform: scale(1.1);
  }

.comida-pareja {
    width: 300px;
    height: 300px;
    border-radius: 1.0em;
    transition: 0.2s; 

}

.comida-pareja:hover {
    transform: scale(1.1);
  }

.pie-pagina {
    width: 100%;
    background-color: #9a8478;
}

footer {
    height: 200px;
    background-image: url(./maderita.png);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-top: 20px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff
}

.pie-pagina .grupo-1 .h2 {
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
}

.info {
    color: white;
    font-family: 'Questrial';
}


.pie-pagina .grupo-1 .box p {
    color: white;
    margin-bottom: 10px;
    font-family: 'Questrial';

}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: black;
}


.pie-pagina .grupo-1 .box .seguinos{
    margin-left: 30px;
    color: #fff;
    font-family: 'Questrial';
}


@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}






