* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black; 
}

.header{
   height: 15vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #C5BFC4;
}

.logo {
    height: 100%;
}

.list-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.a-nav {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
}
